::selection {
    background: #861E1A;
    color: #ffffff;
}
#logo-start {
    width: 100%;
    height: 100vh;
    background-position: center;
    padding: 0px;
    text-align: center;
}
.video_contain {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
.covervideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
.slidercontainer {
    text-align: center;
    vertical-align: text-top;
}
.modal-body ul {
    list-style-type: none;
    padding-left: 0px;
}
.modal-body ol {
    list-style-type: none;
    padding-left: 0px;
}
#interview_2 .smcx-embed {
    margin: auto;
    margin-top: 50px;
}
#interview_2 h2 {
    text-align: -webkit-center;
}
#interview_2 h4 {
    text-align: -webkit-center;
    margin-top: 20px;
}
#logo-start .center {
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    bottom: 0px;
    pointer-events: none;
}
#logo-start .center button#logo-scroll {
    display: block;
    margin: auto;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    transform: scale3d(0.3, 0.3, 0.3);
}
#fieldreport .statcounter {
    background-image: url(../img/counter.svg);
    height: 600px;
    width: 100%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.yt1 {
    margin-bottom: 50px;
}
.yt2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#starco {
    height: 75vh;
    margin-bottom: 0px;
}
#findspon {
    height: 75vh;
    margin-bottom: 0px;
}

/* Navbar */

.navbar-default {
    top: -55px;
    background-color: transparent;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    transition: top .5s;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
    color: #861E1A;
}
.navbar-default .nav li a {
    padding-left: 30px;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #861E1A;
}
.navbar-default .nav li a:hover {
    color: #861E1A;
}
.navbar-default .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 28pt;
    font-weight: 300;
    padding-left: 30px;
}
.navbar-default .navbar-brand:hover {
    color: #861E1A;
}
.navbar-default.navbar-shrink {
    top: 0px;
}
.navbar-right {
    padding-top: 100px;
}
.navbar-default .navbar-header {
    background-color: #888;
}
.navbar-default .navbar-collapse {
    width: 500px;
    float: right;
    background-color: rgba(0, 0, 0, 0.95);
    padding-bottom: 100vh;
    margin-top: -52px;
}
.navbar-collapse.in {
    padding-bottom: 100vh;
}
.navbar-header .navbar-toggle .open,
.navbar-header .navbar-toggle.collapsed .closing {
    height: 16px;
    width: 22px;
    display: none;
}
.navbar-header .navbar-toggle.collapsed .open,
.navbar-header .navbar-toggle .closing {
    height: 16px;
    width: 22px;
    display: block;
}
.navbar-header .navbar-toggle .closing span:nth-child(2) {
    position: absolute;
    width: 32px;
    top: 18px;
    left: 5px;
    transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-header .navbar-toggle .closing span:nth-child(3) {
    position: absolute;
    width: 32px;
    top: 13px;
    left: 5px;
    transform: rotate3d(0, 0, 1, -45deg);
}
.navbar-default .navbar-toggle {
    background: none;
    border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}
.micon {
    background-image: url(../img/menu.svg);
    width: 25px;
    height: 20px;
}
.navbar-header .navbar-toggle.collapsed .open,
.navbar-header .navbar-toggle .closing {
    z-index: 9999;
    position: absolute;
    height: 25px;
    width: 25px;
    right: 5px;
}
.quellenlink {
    color: #777;
}
.cicon {
    background-image: url(../img/close.svg);
    height: 100%;
    width: 100%;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-right {
        float: none !important;
    }
    .navbar-nav>li {
        float: none !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 70px;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-collapse {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }
    #page-top .navbar .container {
        width: 100%;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}
/*
.lanstyle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
}
*/
#language-de,
#language-en {
    display: inline;
    background: none;
    border: none;
    cursor: pointer;
}
#language-de:hover,
#language-en:hover {
    color: #861E1A;
}
#themes ul {
    list-style: none;
    padding-left: 0px;
}

/* Unslider */

.arrow_down {
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow_down.svg);
}
#footer-bar {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 150px;
    bottom: -150px;
    background-color: rgba(136, 136, 136, 0.95);
    -webkit-transition: bottom .5s;
    -moz-transition: bottom .5s;
    transition: bottom .5s;
}
#footer-bar.show {
    bottom: 0px;
}
#footer-bar.show.small {
    bottom: -110px;
}
#footer-bar #up-down-btn {
    transform: rotate3d(1, 0, 0, 0deg);
    display: block;
    background-color: transparent;
    border: none;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#footer-bar.small #up-down-btn {
    /*transform: rotate3d(1,0,0,180deg); */
    transform: rotateX(180deg);
    -webkit-animation: mymove 1s;
    /* Safari 4+ */
    -moz-animation: mymove 1s;
    /* Fx 5+ */
    -o-animation: mymove 1s;
    /* Opera 12+ */
    animation: mymove 1s;
    /* IE 10+, Fx 29+ */
}
@-webkit-keyframes mymove {
    from {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 0, 0, 180deg);
    }
}
#footer-bar .brands {
    height: 80px;
    padding-top: 15px;
}
#footer-bar .brands ul li {
    color: white;
}
#footer-bar .brands ul li .imgx3 {
    width: 100%;
}
#footer-bar .brands ul li .imgx3 > div {
    float: left;
    width: 33.33%;
}
#footer-bar .brands ul li .imgx3 img {
    display: block;
    margin: auto;
    max-width: 100%;
}
#covervideo {
    width: 100%;
    height: 100%;
}
.lg-de {
    display: block;
}
.lg-en {
    display: none;
}
#portfolio a.showInfo .portfolio-caption {
    margin-top: -97px;
}

/* Parallax */

#parallax_Hands-test {
    width: 100%;
    height: 750px;
    margin-top: -150px;
    background-image: url('../img/Parallax-Haende_test.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_Hands {
    overflow: hidden;
    height: 500px;
    padding: 0px;
}
#parallax_box_key-test {
    width: 100%;
    height: 750px;
    background-image: url('../img/Parallax-BoxmitSchluessel.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_box_key {
    overflow: hidden;
    height: 500px;
    padding: 0px;
}
#parallax_light_picture-test {
    width: 100%;
    height: 750px;
    margin-top: -150px;
    background-image: url('../img/Parallax-Belichtungsbild.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_light_picture {
    overflow: hidden;
    height: 500px;
    padding: 0px;
}
#parallax_group-test {
    width: 100%;
}
#parallax_group {
    overflow: hidden;
    padding: 0px;
}
#parallax_study_heads-test {
    width: 100%;
    height: 750px;
    margin-top: -200px;
    background-image: url('../img/Parallax-Huete.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_study_heads {
    overflow: hidden;
    height: 500px;
    padding: 0px;
}
#parallax_key-test {
    width: 100%;
    height: 750px;
    margin-top: -150px;
    background-image: url('../img/Parallax-Schluessel.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax_key {
    overflow: hidden;
    height: 500px;
    padding: 0px;
}

/* Parallax End */

#preword {
    padding-bottom: 0;
}
#preword .home_box {
    background-image: url('../img/Home-Box.png');
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: -40px;
}
section h3.section-subheading {
    line-height: 25px;
    margin-bottom: 30px;
}
section h3.section-heading {
    margin-top: 20px;
}
section p {
    margin-bottom: 20px;
}
#printmedia .time_clocks_sand {
    background-image: url('../img/PMMimLaufederZeit-Sanduhren.png');
    height: 300px;
    width: 60%;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#crossmedia .crossmedia_icons {
    background-image: url('../img/Crossmedia-Icons.png');
    height: 500px;
    width: 100%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#druck3d .schluessel_druck_3d {
    background-image: url('../img/3D-Druck.png');
    height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#fieldreport .fieldreport-icons {
    background-image: url('../img/fieldreview-icons.png');
    height: 500px;
    width: 100%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#interview .unslider .slider,
#interview_2 .unslider .slider,
#interview_3 .unslider .slider,
#fieldreport .unslider .slider,
#studienanfaenger .unslider .slider,
#druck3d .unslider .slider {
    width: 80%;
    display: inline-block;
}
#interview .unslider a,
#interview_2 .unslider a,
#interview_3 .unslider a,
#fieldreport .unslider a,
#studienanfaenger .unslider a,
#druck3d .unslider a {
    color: black;
}
#interview .unslider a.next,
#interview_2 .unslider a.next,
#interview_3 .unslider a.next,
#fieldreport .unslider a.next,
#studienanfaenger .unslider a.next,
#druck3d .unslider a.next {
    display: inline-block;
    width: 5%;
    right: 10px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}
#interview .unslider a.prev,
#interview_2 .unslider a.prev,
#interview_3 .unslider a.prev,
#fieldreport .unslider a.prev,
#studienanfaenger .unslider a.prev,
#druck3d .unslider a.prev {
    display: inline-block;
    width: 5%;
    left: 10px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    -moz-transform: rotate3d(0, 0, 1, 180deg);
    -o-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
}

/*
#interview .row,
#interview_2 .row,
#interview_3 .row {
    margin-left: 30px;
    margin-right: 30px;
} */

#footer-bar .all_sponsors {
    text-align: center;
}
#footer-bar .all_sponsors a {
    color: white;
}
.slider ul {
    display: flex;
    justify-content: center;
}
#portfolio a.portfolio-link img.img-responsive {
    position: absolute;
    top: 0px;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
#portfolio a.portfolio-link img.img-responsive:nth-child(2) {
    position: relative;
    visibility: visible;
    opacity: 1;
}
section {
    padding-top: 100px;
    padding-bottom: 50px;
}
#printmedia {
    padding-top: 100px;
}
.footersponsor {
    height: 50px;
}
.row {
    margin: 0px;
}
#modalAllSponsors .modal-content {
    background-color: rgba(0, 0, 0, 0.95);
}
#modalAllSponsors .modal-content h2 {
    background-color: white;
}
#modalAllSponsors .close-modal .lr,
#modalAllSponsors .close-modal .rl {
    background-color: white;
}
#modalAllSponsors .sponsors_svg img {
    width: 200px;
    margin: 20px;
    display: inline-block;
}

#animated_numbers {
  width: 600px;
  height: 600px;
  background-color: #EEE;
}

#animated_numbers .countToNumber {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  text-align: center;
}
#animated_numbers .countToNumber p{
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;
  height: 100%;
}

#animated_numbers .countToNumber .number-text{
  visibility: visible;
  width: 200px;
  height: 100px;
  background-color: rgba(0,0,0,0.95);
  color: white;
  font-size: 20px;
  vertical-align: middle;
  pointer-events: none;
  margin-left: 50px;
  margin-top: -225px;
  border-radius: 5px;
}

#animated_numbers .countToNumber .number-text.hide {
  visibility: hidden;
}

#animated_numbers .countToNumber.n_1 {
  width: 200px;
  height: 200px;
  background-color: #7e66a0;
  left: 0px;
  margin-top: 120px;
  font-size: 60px;
}
#animated_numbers .countToNumber.n_1 p{
  font-size: 60px;
}
#animated_numbers .countToNumber.n_1 .number-text {
  margin-left: 100px;
  margin-top: -325px;
}
#animated_numbers .countToNumber.n_2 {
  background-color: #bd5250;
  left: 40px;
  margin-top: 200px;
}
#animated_numbers .countToNumber.n_3 {
  background-color: #5183bb;
  left: 80px;
  margin-top: 10px;
}
#animated_numbers .countToNumber.n_4 {
  background-color: #9db95f;
  left: 200px;
  margin-top: 100px;
}
#animated_numbers .countToNumber.n_5 {
  background-color: #52acc4;
  left: 500px;
  margin-top: 70px;
}
#animated_numbers .countToNumber.n_6 {
  background-color: #9db95f;
  left: 800px;
  margin-top: 100px;
}
#animated_numbers .countToNumber.n_7 {
  background-color: #52acc4;
  left: 800px;
  margin-top: 100px;
}
#animated_numbers .countToNumber.n_8 {
  background-color: #7e66a0;
  left: 800px;
  margin-top: 100px;
}
#animated_numbers .countToNumber.n_9 {
  background-color: #f4964f;
  left: 800px;
  margin-top: 100px;
}

#animated_numbers .countToNumber.n_10 {
  background-color: #bd5250;
  left: 800px;
  margin-top: 100px;
}

@media (max-width: 768px) {
    #portfolio .col-md-3 {
        width: 50%;
        float: left;
    }
    #modalAllSponsors .sponsors_svg img {
        width: 120px;
        margin: 10px;
        display: inline-block;
    }
    .navbar-default .navbar-collapse {
        width: 100vw;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-default .nav li a {
        font-size: 18pt !important;
    }
    .navbar-nav>li>a {
        line-height: 25px;
    }
    .video_contain {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-image: url(../img/videoposter.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .covervideo {
        display: none;
    }
    .unslider .slider li {
        padding-left: 15px;
        padding-right: 15px;
    }
    #preword iframe,
    #fieldreport iframe {
        height: 220px;
        width: 310px;
    }
    section h2.section-heading {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    #crossmedia .crossmedia_icons {
        height: 250px;
    }
    #fieldreport .fieldreport-icons {
        height: 230px;
    }
    #fieldreport .fieldreport-icons {
        height: 300px;
    }
    #fieldreport .statcounter {
        height: 330px;
    }
    #preword {
        padding-top: 80px;
    }
    #portfolio {
        padding-top: 80px;
    }
    #printmedia {
        padding-top: 80px;
    }
    #interview {
        padding-top: 80px;
    }
    #crossmedia {
        padding-top: 80px;
    }
    #interview_2 {
        padding-top: 80px;
    }
    #druck3d {
        padding-top: 80px;
    }
    #interview_3 {
        padding-top: 80px;
    }
    #interview_2 {
        padding-top: 80px;
    }
    #studienanfaenger {
        padding-top: 80px;
    }
    #fieldreport {
        padding-top: 80px;
    }
    .portfolio-modal .modal-content h2 {
        font-size: 2.2em;
    }
}

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 *
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices.
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing
 * the height of element `.foo` —which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */


/**
 * iPhoneSE with portrait orientation.
 */

@media all and (device-width: 640px) and (device-height: 1136px) and (orientation:portrait) {
    .navbar-collapse.in {
        height: 320px;
    }
}

/**
 * iPhoneSE with landscape orientation.
 */

@media all and (device-width: 640px) and (device-height: 1136px) and (orientation:landscape) {
    .navbar-collapse.in {
        height: 568px;
    }
}

/**
 * iPhone5 with portrait orientation.
 */

@media all and (device-width: 640px) and (device-height: 1136px) and (orientation:portrait) {
    .navbar-collapse.in {
        height: 1136px;
    }
}

/**
 * iPhone5 with landscape orientation.
 */

@media all and (device-width: 640px) and (device-height: 1136px) and (orientation:landscape) {
    .navbar-collapse.in {
        height: 375px;
    }
}

/**
 * iPhone6 with portrait orientation.
 */

@media all and (device-width: 750px) and (device-height: 1334px) and (orientation:portrait) {
    .navbar-collapse.in {
        padding-bottom: 667px;
    }
}

/**
 * iPhone6 with landscape orientation.
 */

@media all and (device-width: 750px) and (device-height: 1334px) and (orientation:landscape) {
    .navbar-collapse.in {
        padding-bottom: 375px;
    }
}

/**
 * iPhone6Plus with portrait orientation.
 */

@media all and (device-width: 1242px) and (device-height: 2208px) and (orientation:portrait) {
    .navbar-collapse.in {
        height: 414px;
    }
}

/**
 * iPhone6Plus with landscape orientation.
 */

@media all and (device-width: 1242px) and (device-height: 2208px) and (orientation:landscape) {
    .navbar-collapse.in {
        height: 736px;
    }
}

/**
 * PadMini / iPadAir with portrait orientation.
 */

@media all and (device-width: 1536px) and (device-height: 2048px) and (orientation:portrait) {
    .navbar-collapse.in {
        height: 1024px;
    }
}

/**
 * PadMini / iPadAir with landscape orientation.
 */

@media all and (device-width: 1536px) and (device-height: 2048px) and (orientation:landscape) {
    .navbar-collapse.in {
        height: 768px;
    }
}

/**
 * PadPro with portrait orientation.
 */

@media all and (device-width: 2048px) and (device-height: 2732px) and (orientation:portrait) {
    .navbar-collapse.in {
        height: 1024px;
    }
}

/**
 * PadPro with landscape orientation.
 */

@media all and (device-width: 2048px) and (device-height: 2732px) and (orientation:landscape) {
    .navbar-collapse.in {
        height: 1366px;
    }
}
@media (max-width: 320px) {
    #preword iframe,
    #fieldreport iframe {
        height: 150px;
        width: 250px;
    }
    section h2.section-heading {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    .navbar-right {
        padding-top: 50px;
    }
    .navbar-default .nav li a {
        font-size: 20px !important;
    }
    #modalAllSponsors .sponsors_svg img {
        width: 90px;
        margin: 5px;
        display: inline-block;
    }
    #modalAllSponsors .modal-content h2 {
        font-size: 2.6em;
    }
    #crossmedia .crossmedia_icons {
        height: 200px;
    }
    #fieldreport .fieldreport-icons {
        height: 250px;
    }
    #fieldreport .statcounter {
        height: 300px;
    }
    #preword {
        padding-top: 60px;
    }
    #portfolio {
        padding-top: 60px;
    }
    #printmedia {
        padding-top: 60px;
    }
    #interview {
        padding-top: 60px;
    }
    #crossmedia {
        padding-top: 60px;
    }
    #interview_2 {
        padding-top: 60px;
    }
    #druck3d {
        padding-top: 60px;
    }
    #interview_3 {
        padding-top: 60px;
    }
    #interview_2 {
        padding-top: 60px;
    }
    #studienanfaenger {
        padding-top: 60px;
    }
    #fieldreport {
        padding-top: 60px;
    }
    .portfolio-modal .modal-content h2 {
        font-size: 1.8em;
    }
}
