{{ "<!-- Services -->" | safeHTML }}
<section id="druck3d">
    <div class="container lg-de">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">3D-Druck</h2>

                <p>Wo man nur hinschaut, überall ist die Rede von 3D-Druck. Ob in den Nachrichten, die von 3D- gedruckten Organen berichten, in den Modezeitschriften mit 3D-gedruckter Mode oder im Unterhaltungsfernsehen, in dem 3D-gedruckte Figuren der Casting-Teilnehmer erstellt werden.Doch wie genau funktioniert der 3D-Druck? Um dies zu erläutern werden im Folgenden verschiedene Fertigungsverfahren vorgestellt. Anschließend finden Sie noch ein Interview mit Prof. Dr.-Ing. Hartmann über seine Meinung zur Zukunft des 3D-Drucks.</p>
                <br>
                <h3 class="section-heading">3D-Druckvorstufe</h3>
                <p>Für den Druck eines 3D-Objektes wird, wie für den herkömmlichen Drucker auch, eine digitale Datei benötigt, welche die zu druckenden Informationen enthält. Jedoch muss für die Datei eines 3D- Drucks ein bestimmtes Format, wie zum Beispiel CAD (Computer Aided Design) verwendet werden. Bevor jedoch ein Objekt aus einem 3D-Modell aufgebaut werden kann, findet das „Slicing“ statt, wobei das 3D-Modell in zweidimensionale, horizontale Schichten zerteilt wird, welche auch „Layer“ genannt werden. Ein Dateiformat, welches die Informationen für jede einzelne Schicht enthält, ist zum Beispiel eine .STL Datei (Stereolithography Language). Mit Hilfe dieser Dateien, kann der 3D- Drucker ein Objekt aus den einzelnen, horizontalen und zweidimensionalen Schichten drucken.</p>
                <br>
                <h3 class="section-heading">3D-Druckverfahren</h3>
                <p>Die Druckverfahren, die beim 3D-Druck zum Einsatz kommen, können vereinfacht in vier Bereiche aufgeteilt werden: das Pulverdruckverfahren, das Drucken mit geschmolzenen Materialien, das Drucken mit flüssigen Materialien und weitere 3D-Druck Verfahren.</p>
                <br>
                <br>
                <br>
                <div class="slider">
                  <ul>
                    <li>
                      <h5 class="section-heading">Pulverdruckverfahren</h5>
                      <p>Es wird ein flüssiger Klebstoff, bei dem es sich um die unterste zweidimensionale Schicht handelt, über einen beweglichen Druckkopf auf eine Pulverschicht aufgetragen. Auf diese Schicht aus Klebstoff wird anschließend eine neue, hauchdünne Pulverschicht gezogen. Dieser Vorgang wird Schicht für Schicht wiederholt, bis das 3D-Objekt fertiggestellt ist.</p>
                      <p>Hierbei wird hauptsächlich Gips- und Kunststoff verwendet.</p>
                      <p>Das <strong>„Selective Laser Sintering“</strong> (SLS) ist eine Abwandlung des bereits beschriebenen Verfahrens. Beim SLS- Verfahren kommt kein Klebstoff zum Einsatz, stattdessen werden die einzelnen Pulverschichten unter einer Schutzatmosphäre mithilfe eines Lasers erhitzt und somit verschmolzen. Aufgrund der Beschaffenheit des Pulvers kühlt das Objekt schnell aus und kann somit nicht mehr verformt werden. Bei diesem Verfahren können neben Kunststoff auch Metall, Keramik und Sand verwendet werden.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Drucken mit geschmolzenen Materialien – „Fused Deposition Modeling“ (FDM)</h5>
                      <p>Dieses Verfahren verwendet hauptsächlich Kunststoffe und ist das beliebteste 3D-Druck Verfahren. Außerdem ist es momentan die günstigste Methode 3D-Drucke zu erstellen.</p>
                      <p>Hierbei wird ebenfalls mit zweidimensionalen Schichten gearbeitet, jedoch meist mit einer beweglichen Plattform. Der Druckkopf wird bei diesem Verfahren, im Gegensatz zum Pulverdruckverfahren, beheizt. Dadurch wird das leicht zu schmelzende, draht- oder stäbchenförmige Material geschmolzen. Abhängig vom Modell sind entweder der Druckkopf, die Plattform oder beides beweglich. Die Geschwindigkeit, in welcher sich die beiden Elemente bewegen, ist davon abhängig wie schnell das verwendete Material trocknet. Die jeweils nächste Schicht kann erst aufgetragen werden, wenn die darunterliegende Schicht getrocknet ist. Hohlräume und Überhänge werden mithilfe von Stützmaterialien gedruckt, welche wasserlöslich oder wachsartig sind und somit einfach ausgewaschen oder ausgeschmolzen werden können.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Drucken mit flüssigen Materialien</h5>
                      <p>Verfahren die diese Methode anwenden, arbeiten auf Basis von flüssigen und UV-empfindlichen Kunststoffen. <strong>„Stereolithografie“</strong> (STL oder SLA) ist eines davon. Es benötigt ein mit flüssigem Kunststoff gefülltes Becken. Dieser hat die besondere Eigenschaft nach einer gewissen Belichtungszeit zu erstarren. Unter der Oberfläche des flüssigen Kunststoffes befindet sich ein bewegliches Druckbett. Mit dessen Hilfe können die einzelnen Schichten des 3D-Modells durch einen Laser auf die Oberfläche projiziert werden. Ist die erste Schicht erstarrt, fährt das Druckbett um die Höhe einer Schicht nach unten und der Vorgang wird wiederholt. Das fertige Objekt wird aus dem Becken genommen.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Weitere Verfahren</h5>
                      <p>Ein weiteres Verfahren ist das <strong>„Laminated Object Modeling“</strong> (LOM), auch Fotolaminier-3D-Druck genannt. Es ist ein relativ neues Herstellungsverfahren für 3D-Objekte, bei welchem sehr dünne Schichten unterschiedlicher Materialien, wie zum Beispiel Kunstoffe, Papier und Aluminium miteinander verklebt werden.</p>
                    </ii>
                  <ul>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="container lg-en">
      <div class="row">
          <div class="text-center">
            <h2 class="section-heading">3D Printing</h2>

                <p>Wherever one looks, there is talk about 3D printing. Either on the news discussing 3D-printed organs, in the fashion magazines writing about 3D-printed fashion or on television where they print 3D figures of casting participants.
                But how exactly does 3D printing work? To illustrate this procedure, the various production processes are explained, followed by an interview with Prof. Dr.-Ing. Hartmann about his opinion on the future of 3D printing.</p>
                <br>
                <h3 class="section-heading">3D Pre-Print Stage</h3>
                <p>For the printing of a 3D object, a digital file is needed, just like for conventional printers. This digital file should contain the information which should be printed. For a 3D printing file, you have to use a specific format, such as CAD (computer-aided design). Before an object can be constructed from a 3D model, the "slicing" will take place where the 3D model is divided into two-dimensional horizontal layers which are also called "layers." A file format which contains the information for each individual layer, for example, is a “.STL” (stereo lithography language) file. Using these files, the 3D printer can print an object from the individual horizontal and two-dimensional layers.</p>
                <br>
                <h3 class="section-heading">3D Printing</h3>
                <p>The printing processes used in 3D printing can be divided into four types: The powder printing process, printing with molten materials, printing with liquid materials and other 3D printing processes.</p>
                <br>
                <br>
                <br>
                <div class="slider">
                  <ul>
                    <li>
                      <h5 class="section-heading">Powder Printing Process</h5>
                      <p>The lowest two-dimensional layer is coated with a liquid adhesive over a movable print head on a powder layer. A new, ultra-thin layer of powder is then added onto this layer of glue. This process is repeated layer by layer until the 3D object is completed.</p>
                      <p>Materials used here are mainly gypsum and plastic.</p>
                      <p>The "selective laser sintering" (SLS) is a modification of the method previously described. In the SLS process, no adhesive is used. Instead, the individual powder layers are heated under a protective atmosphere by means of a laser and thereby melted. Due to the nature of the powder, the object cools down quickly and, therefore, cannot be deformed. In this process, metal, ceramic and sand can be used in addition to plastic.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Printing Using Molten Materials - "Fused Deposition Modeling" (FDM)</h5>
                      <p>This process mainly uses plastics and is the most popular 3D printing process. Moreover, it is currently the most favorable method for creating 3D prints.</p>
                      <p>Two-dimensional layers are also used here, but usually with a movable platform. In contrast to the powder printing method, the print head is heated in this method. Because of this, the easily melted wire or rod-shaped material is melted. Depending on the model, either the print head, the platform or both are movable. The speed at which the two elements move is dependent on how quickly the used material dries. The next layer can only be applied if the underlying layer is dried. Cavities and overhangs are printed with the aid of supporting materials. These are water-soluble or waxy and, therefore, easy to wash or melt out.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Printing Using Liquid Materials</h5>
                      <p>Processes using this method work on the basis of liquid and UV-sensitive plastics. "Stereo lithography" (STL or SLA) is one of them. It requires a pool filled with liquid plastic. This has the particular characteristic of solidifying after a certain exposure time. Under the surface of the liquid plastic is a movable printing bed. With the aid of the individual layers, the 3D model can be projected onto the surface by a laser. When the first layer is solidified, the pressure bed moves down one layer and the process is repeated. The finished object is removed from the pool.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Other Methods</h5>
                      <p>Another method is "laminated object modeling" (LOM). It is a relatively new method for producing 3D objects in which very thin layers of different materials are adhered to each other. Materials which are used could be are plastics, paper or aluminum.</p>
                    </ii>
                  <ul>
        </div>
    </div>
  </div>
<!--  <div class="schluessel_druck_3d"></div>-->
</section>
