{{ "<!-- Services -->" | safeHTML }}
<section id="druck3d">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="section-heading">3D-Druck</h3>
                <p>Wo man nur hinschaut, überall ist die Rede von 3D-Druck. Ob in den Nachrichten, die von 3D- gedruckten Organen berichten, in den Modezeitschriften mit 3D-gedruckter Mode oder im Unterhaltungsfernsehen, in dem 3D-gedruckte Figuren der Casting-Teilnehmer erstellt werden.Doch wie genau funktioniert der 3D-Druck? Um dies zu erläutern werden im Folgenden verschiedene Fertigungsverfahren vorgestellt. Anschließend finden Sie noch ein Interview mit Prof. Dr.-Ing. Hartmann über seine Meinung zur Zukunft des 3D-Drucks.</p>
                <h5 class="section-heading">3D-Druckvorstufe</h5>
                <p>Für den Druck eines 3D-Objektes wird, wie für den herkömmlichen Drucker auch, eine digitale Datei benötigt, welche die zu druckenden Informationen enthält. Jedoch muss für die Datei eines 3D- Drucks ein bestimmtes Format, wie zum Beispiel CAD (Computer Aided Design) verwendet werden. Bevor jedoch ein Objekt aus einem 3D-Modell aufgebaut werden kann, findet das „Slicing“ statt, wobei das 3D-Modell in zweidimensionale, horizontale Schichten zerteilt wird, welche auch „Layer“ genannt werden. Ein Dateiformat, welches die Informationen für jede einzelne Schicht enthält, ist zum Beispiel eine .STL Datei (Stereolithography Language). Mit Hilfe dieser Dateien, kann der 3D- Drucker ein Objekt aus den einzelnen, horizontalen und zweidimensionalen Schichten drucken.</p>
                <h5 class="section-heading">3D-Druck</h5>
                <p>Die Druckverfahren, die beim 3D-Druck zum Einsatz kommen, können vereinfacht in vier Bereiche aufgeteilt werden: das Pulverdruckverfahren, das Drucken mit geschmolzenen Materialien, das Drucken mit flüssigen Materialien und weitere 3D-Druck Verfahren.</p>
                <div class="slider">
                  <ul>
                    <li>
                      <h5 class="section-heading">Pulverdruckverfahren</h5>
                      <p>Es wird ein flüssiger Klebstoff, bei dem es sich um die unterste zweidimensionale Schicht handelt, über einen beweglichen Druckkopf auf eine Pulverschicht aufgetragen. Auf diese Schicht aus Klebstoff wird anschließend eine neue, hauchdünne Pulverschicht gezogen. Dieser Vorgang wird Schicht für Schicht wiederholt, bis das 3D-Objekt fertiggestellt ist.</p>
                      <p>Hierbei wird hauptsächlich Gips- und Kunststoff verwendet.</p>
                      <p>Das <strong>„Selective Laser Sintering“</strong> (SLS) ist eine Abwandlung des bereits beschriebenen Verfahrens. Beim SLS- Verfahren kommt kein Klebstoff zum Einsatz, stattdessen werden die einzelnen Pulverschichten unter einer Schutzatmosphäre mithilfe eines Lasers erhitzt und somit verschmolzen. Aufgrund der Beschaffenheit des Pulvers kühlt das Objekt schnell aus und kann somit nicht mehr verformt werden. Bei diesem Verfahren können neben Kunststoff auch Metall, Keramik und Sand verwendet werden.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Drucken mit geschmolzenen Materialien – „Fused Deposition Modeling“ (FDM)</h5>
                      <p>Dieses Verfahren verwendet hauptsächlich Kunststoffe und ist das beliebteste 3D-Druck Verfahren. Außerdem ist es momentan die günstigste Methode 3D-Drucke zu erstellen.</p>
                      <p>Hierbei wird ebenfalls mit zweidimensionalen Schichten gearbeitet, jedoch meist mit einer beweglichen Plattform. Der Druckkopf wird bei diesem Verfahren, im Gegensatz zum Pulverdruckverfahren, beheizt. Dadurch wird das leicht zu schmelzende, draht- oder stäbchenförmige Material geschmolzen. Abhängig vom Modell sind entweder der Druckkopf, die Plattform oder beides beweglich. Die Geschwindigkeit, in welcher sich die beiden Elemente bewegen, ist davon abhängig wie schnell das verwendete Material trocknet. Die jeweils nächste Schicht kann erst aufgetragen werden, wenn die darunterliegende Schicht getrocknet ist. Hohlräume und Überhänge werden mithilfe von Stützmaterialien gedruckt, welche wasserlöslich oder wachsartig sind und somit einfach ausgewaschen oder ausgeschmolzen werden können.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Drucken mit flüssigen Materialien</h5>
                      <p>Verfahren die diese Methode anwenden, arbeiten auf Basis von flüssigen und UV-empfindlichen Kunststoffen. <strong>„Stereolithografie“</strong> (STL oder SLA) ist eines davon. Es benötigt ein mit flüssigem Kunststoff gefülltes Becken. Dieser hat die besondere Eigenschaft nach einer gewissen Belichtungszeit zu erstarren. Unter der Oberfläche des flüssigen Kunststoffes befindet sich ein bewegliches Druckbett. Mit dessen Hilfe können die einzelnen Schichten des 3D-Modells durch einen Laser auf die Oberfläche projiziert werden. Ist die erste Schicht erstarrt, fährt das Druckbett um die Höhe einer Schicht nach unten und der Vorgang wird wiederholt. Das fertige Objekt wird aus dem Becken genommen.</p>
                    </ii>
                    <li>
                      <h5 class="section-heading">Weitere Verfahren</h5>
                      <p>Ein weiteres Verfahren ist das <strong>„Laminated Object Modeling“</strong> (LOM), auch Fotolaminier-3D-Druck genannt. Es ist ein relativ neues Herstellungsverfahren für 3D-Objekte, bei welchem sehr dünne Schichten unterschiedlicher Materialien, wie zum Beispiel Kunstoffe, Papier und Aluminium miteinander verklebt werden.</p>
                    </ii>
                  <ul>
                </div>
            </div>
        </di v>
    </div>
  </div>
  <div class="schluessel_druck_3d"></div>
</section>
