<section id="animated_numbers">
  <div class="container">
      <div class="row">
          <div class="countToNumber n_1">
            <p class="count">470</p>
            <div class="number-text hide"><p>Sponsorentelefonate</p></div>
          </div>
          <div class="countToNumber n_2">
            <p class="count">9</p>
            <div class="number-text hide">Abstimmungen</div>
          </div>
          <div class="countToNumber n_3">
            <p class="count">680</p>
            <div class="number-text hide">E-Mails zwischen Vetrieb und Sponsoring</div>
          </div>
          <div class="countToNumber n_4">
            <p class="count">73</p>
            <div class="number-text hide">Kaffees</div>
          </div>
          <div class="countToNumber n_5">
            <p class="count">8</p>
            <div class="number-text hide">Gruppenmeetings</div>
          </div>
          <div class="countToNumber n_6">
            <p class="count">2</p>
            <div class="number-text hide">Öffentliche Veranstalung</div>
          </div>
          <div class="countToNumber n_7">
            <p class="count">10</p>
            <div class="number-text hide">Ideen bis zum Endprodukt</div>
          </div>
          <div class="countToNumber n_8">
            <p class="count">9</p>
            <div class="number-text hide">Veröffentlichung Facebook-Bilder</div>
          </div>
          <div class="countToNumber n_9">
            <p class="count">66</p>
            <div class="number-text hide">Tage bis zum Drucktermin</div>
          </div>
          <div class="countToNumber n_10">
            <p class="count">107</p>
            <div class="number-text hide">Projekt Arbeitstage</div>
          </div>
      </div>
  </div>
</section>
