{{ "<!-- Services -->" | safeHTML }}
<section id="fieldreport">
    <div class="container lg-de">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Erfahrungsberichte</h2>
                <br>
                <br>
                <br>
                <div class="slider">
                    <ul>
                        <li>
                            <h4 class="section-heading">Mohn Media</h4>
                            <p>Im September 2015 hatten wir, die Studierenden des Studiengangs Print-Media-Management, die Chance an einer dreitägigen Exkursion zu dem Unternehmen Mohn Media Mohndruck GmbH in Gütersloh teilzunehmen. Mohn Media ist Teil der Bertelsmann Printing Group und steht seit Jahrzehnten für Full-Service rund um den Offsetdruck.</p>
                            <p>Der erste Tag dort begann mit vielen interessanten Vorträgen aus den verschiedenen Abteilungen des Unternehmens. Wir erhielten einen weitreichenden Überblick über die Druckvorstufe, die Produktlinie Action Print und Kataloge sowie dem großen Bereich Technologie. Der Tag endete mit einer Stadtführung durch die Stadt Gütersloh.</p>
                            <p>Tag 2 war der Praxis gewidmet. In der Buchbinderei stellten die Studierenden ihre eigenen, von Hand gebundenen Notizbücher her, was alle sehr begeistert hat. Der weitere Tagesablauf bestand aus einer spannenden Besichtigung der unterschiedlichen Produktionsabteilungen. Außerdem wurden wir an beiden Abenden mit leckeren Abendessen im Kulturzentrum der Stadt und einem chinesischen Buffet bestens versorgt.</p>
                            <p>Der letzte Tag begann mit einer praktischen Gruppenübung in der Medienfabrik. Die Studierenden lernten viel darüber wie sich die richtige Zielgruppe auf die Entwicklung eines Magazins auswirkt. Ein weiteres Highlight war die Besichtigung der Weiterverarbeitung am Standort Marienfeld.</p>
                            <p>Wir haben in diesen Tagen viel gelernt und sind dankbar, dass wir diese Chance bekommen haben. Wir konnten einen abwechslungsreichen Einblick in die Abteilungen des Unternehmens gewinnen und werden die vielen Erfahrungen nutzen, um die richtige berufliche Richtung für unsere Zukunft zu finden.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Packaging Valley – „Studenten treffen Unternehmen”</h4>
                            <p>Ende Oktober 2015 nahmen einige Studierende aus dem “thecrossbox.”-Team an einer Exkursion nach Schwäbisch Hall ins Packaging Valley teil. Die Teilnehmer fanden während ihres Aufenthalts Unterkunft in dem Hotel Hohenlohe. Donnerstagmorgen startete die zweitägige Exkursion mit zwei Bussen in Richtung Altstadt von Schwäbisch Hall. Im Rathaus der Stadt angekommen, begrüßte Oberbürgermeister Hermann-Josef Pelgrim die Studierenden.</p>
                            <p>Anschließend trennten sich die Teilnehmer in zwei Gruppen auf. Während die eine Gruppe in Crailsheim Abfüllanlagen und Hightech Verpackungsmaschinen besichtigte, fuhr die zweite Gruppe zu Softwareentwicklern, Herstellern von Flaschenabfüllanlagen und Pharmaindustriezulieferern.</p>
                            <p>Am Abend konnten die Studierenden in gemütlicher Atmosphäre die Ansprechpartner der Unternehmen persönlich ansprechen und sich über mögliche Karrriereaussichten austauschen. Freitags wurden die Gruppen getauscht damit jeder Studierende einen größtmöglichen Einblick erhalten kann.</p>
                            <p>Das Packaging Valley ist ein Zusammenschluss aus verschiedensten Firmen in der Region Hohenlohe, die in der Verpackungsbranche etabliert sind. Dazu gehören Maschinenbauer, Sondermaschinenhersteller, Softwareentwickler und Dienstleistungsanbieter. Kunden aus Pharma-, Lebensmittel-, Kosmetik- und Chemieindustrie finden ihre Anbieter im Packaging Valley.</p>
                            <p>Dank der Exkursion konnten erlernte Studieninhalte in der Praxis besichtigt werden.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Appenzeller Druckerei</h4>
                            <p>Um das theoretische Wissen in der Praxis anwenden zu können, bietet der Studiengang Print-Media- Management ein Praxisprojekt in der Schweiz.</p>
                            <p>Das diesjährige Projekt fand in der Kooperation mit der Partnerhochschule HEIG in Yverdon-des- Bains (französischsprachige Schweiz) und der Appenzeller Druckerei AG in den ersten beiden Semesterwochen statt.</p>
                            <p>In der ersten Woche wurden die Studenten beider Hochschulen einander vorgestellt und erhielten einen Intensivkurs über die Durchführung von Assessments, Prozessanalysen und diverse Verbesserungsinstrumente im Unternehmen. Die englische Unterrichtssprache stellte hier gar kein Problem dar.</p>
                            <p>Der zweite Teil des Projekts fand in Herisau, in der deutschsprachigen Schweiz, statt. In der Appenzeller Druckerei konnte das vorher gelernte praktisch umgesetzt werden. Aufgeteilt in drei Gruppen wurden Mitarbeiterbefragungen durchgeführt, Prozesse und Wege analysiert und Instrumente zur Verbesserung des Unternehmens entwickelt. In einer abschließenden Präsentation wurden dem Unternehmen die Ergebnisse vorgestellt, sowie einige Verbesserungspotentiale aufgezeigt. Somit konnten beide Seiten von einer „Win-Win-Situation“ profitieren.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container lg-en">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Opinions</h2>
                <br>
                <br>
                <br>
                <div class="slider">
                    <ul>
                        <li>
                            <h4 class="section-heading">Mohn Media</h4>
                            <p>Last September, Print-Media-Management students had the opportunity to participate in an excursion to the Mohn Media Mohndruck GmbH in Gütersloh. Mohn Media is part of the Bertelsmann Printing Group and has stood for high-quality offset printing for decades.</p>
                            <p>The first day started with many interesting presentations about different divisions in the company. We got a general idea about the pre-printing stage sector, the action print product line, catalogs and the technology sector. The day ended with a sightseeing trip through Gütersloh.</p>
                            <p>The second day was dedicated to practical implementation. The students produced their own handmade book in the bookbinding sector. All students were very enthusiastic. The rest of the day was spent visiting all the exciting places of printing production. Furthermore, we received tasty dinners in the cultural center of the city and a Chinese buffet on both evenings.</p>
                            <p>The last day started with a practical group exercise in the media factory. The students learned a lot about how the right target audience can affect the development of a magazine. The next highlight was the visit of the postpress division in Marienfeld.</p>
                            <p>We learned a lot and are very grateful for this opportunity. We got a variety of insight into the company divisions and want to use this experience to find the right career paths for us in the future.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Packaging Valley</h4>
                            <p>At the end of October 2015, some students from the "the crossbox." team went on an excursion to Packaging Valley in Schwäbisch Hall. The participants stayed at the Hotel Hohenlohe. The two-day trip started on Thursday morning with a drive to the historic city center of Schwäbisch Hall. When we arrived at the city hall, we were greeted by the mayor, Hermann-Josef Pelgrim. Afterwards, the participants were divided into two groups. While one group saw filling and high-tech packaging machines in Crailsheim, the other group went to see software developers, bottling system producers and pharmaceutical industry suppliers.</p>
                            <p>In the evening, the students were able to meet company representatives in a cozy atmosphere. On Friday, the groups traded places, allowing every student to receive full insight into the companies.</p>
                            <p>AThe Packaging Valley is a conglomeration of various packaging industry companies in the Hohenlohe region. These include mechanical engineers, special equipment manufacturers, software developers and service providers. Customers from pharmaceutical, food, cosmetics and chemical industries can find suppliers in the Packaging Valley.</p>
                            <p>The excursion allowed the students to see the things they studied in practice.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Appenzeller Druckerei</h4>
                            <p>To put their theoretical knowledge into practice, the print media course offers an excursion to Switzerland to students.</p>
                            <p>This year's project occurred in cooperation with the partner university HEIG in Yverdon-Des-Bains (French-speaking part of Switzerland) and the Appenzeller Druckerei AG, a printing plant company, during the first two weeks of the semester.</p>
                            <p>In the first week, the students of both universities were introduced to each other and received a crash course about the implementation of assessments, process analysis and a number of improvement instruments at a company. The lessons were provided in English, which presented no problem to the students.</p>
                            <p>The second part of the project took place in Herisau, in the German-speaking part of Switzerland. The students learned how to put their theoretical knowledge into practice at the Appenzeller Druckerei. Divided into three groups, the students conducted employee surveys, analyzed processes and developed ways to improve the company. In a final presentation, the students presented their results and improvement suggestions to the company. This allowed both sides to benefit from a "win-win- situation."</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fieldreport-icons"></div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="container lg-de">
                    <h2 class="section-heading">Projektverlauf in Zahlen</h2>
                </div>
                <div class="container lg-en">
                    <h2 class="section-heading">Numerical course of the project</h2>
                </div>
                <iframe class="yt2" width="854" height="480" src="https://www.youtube.com/embed/zuSpytRvJU4" frameborder="0" allowfullscreen></iframe>
                <div class="statcounter"></div>
            </div>
        </div>
    </div>
</section>