{{ "<!-- Services -->" | safeHTML }}
<section id="fieldreport">
    <div class="container lg-de">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Erfahrungsberichte</h2>
                <br>
                <br>
                <br>
                <div class="slider">
                    <ul>
                        <li>
                            <h4 class="section-heading">Mohn Media</h4>
                            <p>Im September 2015 hatten wir, die Studierenden des Studiengangs Print-Media-Management, die Chance an einer dreitägigen Exkursion zu dem Unternehmen Mohn Media Mohndruck GmbH in Gütersloh teilzunehmen. Mohn Media ist Teil der Bertelsmann Printing Group und steht seit Jahrzehnten für Full-Service rund um den Offsetdruck.</p>
                            <p>Der erste Tag dort begann mit vielen interessanten Vorträgen aus den verschiedenen Abteilungen des Unternehmens. Wir erhielten einen weitreichenden Überblick über die Druckvorstufe, die Produktlinie Action Print und Kataloge sowie dem großen Bereich Technologie. Der Tag endete mit einer Stadtführung durch die Stadt Gütersloh.</p>
                            <p>Tag 2 war der Praxis gewidmet. In der Buchbinderei stellten die Studierenden ihre eigenen, von Hand gebundenen Notizbücher her, was alle sehr begeistert hat. Der weitere Tagesablauf bestand aus einer spannenden Besichtigung der unterschiedlichen Produktionsabteilungen. Außerdem wurden wir an beiden Abenden mit leckeren Abendessen im Kulturzentrum der Stadt und einem chinesischen Buffet bestens versorgt.</p>
                            <p>Der letzte Tag begann mit einer praktischen Gruppenübung in der Medienfabrik. Die Studierenden lernten viel darüber wie sich die richtige Zielgruppe auf die Entwicklung eines Magazins auswirkt. Ein weiteres Highlight war die Besichtigung der Weiterverarbeitung am Standort Marienfeld.</p>
                            <p>Wir haben in diesen Tagen viel gelernt und sind dankbar, dass wir diese Chance bekommen haben. Wir konnten einen abwechslungsreichen Einblick in die Abteilungen des Unternehmens gewinnen und werden die vielen Erfahrungen nutzen, um die richtige berufliche Richtung für unsere Zukunft zu finden.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Packaging Valley – „Studenten treffen Unternehmen”</h4>
                            <p>Ende Oktober 2015 nahmen einige Studierende aus dem “thecrossbox.”-Team an einer Exkursion nach Schwäbisch Hall ins Packaging Valley teil. Die Teilnehmer fanden während ihres Aufenthalts Unterkunft in dem Hotel Hohenlohe. Donnerstagmorgen startete die zweitägige Exkursion mit zwei Bussen in Richtung Altstadt von Schwäbisch Hall. Im Rathaus der Stadt angekommen, begrüßte Oberbürgermeister Hermann-Josef Pelgrim die Studierenden.</p>
                            <p>Anschließend trennten sich die Teilnehmer in zwei Gruppen auf. Während die eine Gruppe in Crailsheim Abfüllanlagen und Hightech Verpackungsmaschinen besichtigte, fuhr die zweite Gruppe zu Softwareentwicklern, Herstellern von Flaschenabfüllanlagen und Pharmaindustriezulieferern.</p>+
                            <p>Am Abend konnten die Studierenden in gemütlicher Atmosphäre die Ansprechpartner der Unternehmen persönlich ansprechen und sich über mögliche Karrriereaussichten austauschen. Freitags wurden die Gruppen getauscht damit jeder Studierende einen größtmöglichen Einblick erhalten kann.</p>
                            <p>Das Packaging Valley ist ein Zusammenschluss aus verschiedensten Firmen in der Region Hohenlohe, die in der Verpackungsbranche etabliert sind. Dazu gehören Maschinenbauer, Sondermaschinenhersteller, Softwareentwickler und Dienstleistungsanbieter. Kunden aus Pharma-, Lebensmittel-, Kosmetik- und Chemieindustrie finden ihre Anbieter im Packaging Valley.</p>
                            <p>Dank der Exkursion konnten erlernte Studieninhalte in der Praxis besichtigt werden.</p>
                        </li>
                        <li>
                            <h4 class="section-heading">Appenzeller Druckerei</h4>
                            <p>Um das theoretische Wissen in der Praxis anwenden zu können, bietet der Studiengang Print-Media- Management ein Praxisprojekt in der Schweiz.</p>
                            <p>Das diesjährige Projekt fand in der Kooperation mit der Partnerhochschule HEIG in Yverdon-des- Bains (französischsprachige Schweiz) und der Appenzeller Druckerei AG in den ersten beiden Semesterwochen statt.</p>
                            <p>In der ersten Woche wurden die Studenten beider Hochschulen einander vorgestellt und erhielten einen Intensivkurs über die Durchführung von Assessments, Prozessanalysen und diverse Verbesserungsinstrumente im Unternehmen. Die englische Unterrichtssprache stellte hier gar kein Problem dar.</p>
                            <p>Der zweite Teil des Projekts fand in Herisau, in der deutschsprachigen Schweiz, statt. In der Appenzeller Druckerei konnte das vorher gelernte praktisch umgesetzt werden. Aufgeteilt in drei Gruppen wurden Mitarbeiterbefragungen durchgeführt, Prozesse und Wege analysiert und Instrumente zur Verbesserung des Unternehmens entwickelt. In einer abschließenden Präsentation wurden dem Unternehmen die Ergebnisse vorgestellt, sowie einige Verbesserungspotentiale aufgezeigt. Somit konnten beide Seiten von einer „Win-Win-Situation“ profitieren.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container lg-en">
        <div class="row">
            <div class="text-center">
              <p>Dummy Field Report</p>
            </div>
        </div>
    </div>
    <div class="fieldreport-icons"></div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Projektverlauf in Zahlen</h2>
                <!--<iframe class="yt2" width="854" height="480" src="https://www.youtube.com/embed/zuSpytRvJU4" frameborder="0" allowfullscreen></iframe> -->
                <div class="statcounter"></div>
            </div>
        </div>
    </div>
</section>
