{{ "<!-- Footer-bar -->" | safeHTML }}
<div id="footer-bar">
  <div class="content">
    <button type="button" id="up-down-btn" onclick="ToggleFooterNav()"><div class="arrow_down"></div></button>
    <div class="brands">
    	<ul>
    		<li>
          <div class="imgx3">
            <div><a href="#premiumModal1" data-toggle="modal"><img class="footersponsor" src="img/sponsors/starco.svg" alt=""></a></div>
            <div><a href="#premiumModal2" data-toggle="modal"><img class="footersponsor" src="img/sponsors/find.svg" alt=""></a></div>
              <div><img class="footersponsor" src="img/sponsors/alex_dima.svg" alt=""></div>
            <div></div>
          </div>
        </li>
    	</ul>
    </div>
    <div class="all_sponsors"><a href="#modalAllSponsors" data-toggle="modal">Weitere Sponsoren anzeigen</a></div>
  </div>
</div>
