{{ "<!-- Footer-bar -->" | safeHTML }}
<div id="footer-bar">
  <div class="content">
    <button type="button" id="up-down-btn" onclick="ToggleFooterNav()"><div class="arrow_down"></div></button>
  	<ul>
  		<li>
          <a href="#premiumModal1" data-toggle="modal"><img class="footersponsor" src="img/sponsors/starco.svg" alt=""></a>
      </li>
      <li>
        <a href="#premiumModal2" data-toggle="modal"><img class="footersponsor" src="img/sponsors/find.svg" alt=""></a>
      </li>
      <li>
        <img class="footersponsor" src="img/sponsors/alex_dima.svg" alt="">
      </li>
  	</ul>
    <div class="all_sponsors"><p><a href="#modal_Impressum" data-toggle="modal">Impressum</a> | <a href="#modalAllSponsors" data-toggle="modal">Weitere Sponsoren</a> | <a href="https://www.facebook.com/PMMinsight-the-crossbox-501748723360493/?ref=ts&fref=ts" target="_blank">Facebook</a></p></div>

  </div>
</div>
