{{ "<!-- Footer-bar -->" | safeHTML }}
<div id="footer-bar">
  <div class="content">
    <button type="button" id="up-down-btn" onclick="ToggleFooterNav()"><div class="arrow_down"></div></button>
    <div class="brands">
    	<ul>
    		<li>
          <div class="imgx3">
            <div><img src="img/logos/aetuts.jpg" alt=""></div>
            <div><img src="img/logos/creative-market.jpg" alt=""></div>
            <div><img src="img/logos/designmodo.jpg" alt=""></div>
          </div>
        </li>
    	</ul>
    </div>
  </div>
</div>
