{{ "<!-- Theme -->" | safeHTML }}
<section id="interview" class="bg-light-gray">
    <div class="container lg-de">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Interview</h2>
                <h3 class="section-heading">über die PMM-Veränderung</h2>
        <h3 class="section-subheading text-muted">mit Prof. Dr.-Ing. Witting</h3>
            </div>
        </div>
        <div class="slidercontainer">
            <div class="slider">
                <ul>
                    {{ range .Site.Params.theme.row }} {{ range .list }}
                    <li id="{{ .id }}">
                        <h4 class="section-heading">{{ .title | markdownify }}</h4>
                        <h3 class="section-subheading text-muted">{{ .description | markdownify }}</h3>
                    </li>
                    {{ end }} {{ end }}
                </ul>
            </div>
        </div>
    </div>

  <div class="container lg-en">
      <div class="row">
          <div class="text-center">
                <h2 class="section-heading">Interview</h2>
                <h3 class="section-heading">About the Bachelor Degree Change in Print Media Management</h2>
        <h3 class="section-subheading text-muted">with Prof. Dr.-Ing. Witting</h3>
          </div>
      </div>
      <div class="slidercontainer">
          <div class="slider">
              <ul>
                  <li>
                      <h4 class="section-heading">Statement about the PMMinsight</h4>
                      <h3 class="section-subheading text-muted">The PMMinsight has become a trademark for creativity and efficiency for the students since his first appearance. This summer semester 2016 edition will also set new standards and show which solutions you, the 4th semester students, think of for the future for challenges and changes in the print and media world.</h3>
                  </li>
                  <li>
                      <h4 class="section-heading">How did you come to HdM and, especially, to the study course Print-Media-Management?</h4>
                      <h3 class="section-subheading text-muted">My professional career always involved tasks in management from printing establishments of big German publishers. Therefore, it was right for me to search for a college that allows me to share my knowledge on theoretical bases with young people.</h3>
                      <h3 class="section-subheading text-muted">I have an industrial engineering degree and also my dissertation also encompassed technology and business management, the offer for a professorship in Print-Media-Management served as the basis for my application.</h3>
                      <h3 class="section-subheading text-muted">It makes me happy to share my knowledge and experiences with our students and staying mentally alert by working with young people.</h3>
                  </li>
                  <li>
                      <h4 class="section-heading">You were the Print-Media-Management dean for four years. The study course has changed in recent years. What do you think of the changes? And how are they perceived by the students?t</h4>
                      <h3 class="section-subheading text-muted">In my term as a dean, we felt the first impacts of the modified applicant behavior: The change in the printing and media industry certainly led people to question studying in this environment and to look for alternatives.</h3>
                      <h3 class="section-subheading text-muted">Because of falling applicant numbers, we tried counter this trend by intensifying applications through different media channels to counteract. On the other hand, we considered adjusting our course to the changed conditions in the printing and media industry.<br>This led to the introduction of the three majors:</h3>
                      <ul>
                        <li>
                          <p>Industrial engineering crossmedia and print</p>
                        </li>
                        <li>
                          <p>Industrial engineering packaging and</p>
                        </li>
                        <li>
                          <p>Industrial engineering media design.</p>
                        </li>
                        <h3 class="section-subheading text-muted">We seem to be right with these offers, since our application numbers for the 15/16 winter semester and the 2016 summer semester have moved up. We are now looking forward to seeing how this offer is accepted by the current applications for the 16/17 winter semester.</h3>
                      </ul>
                  </li>
                  <li>
                      <h4 class="section-heading">What set the new media design major apart? On what is the focus placed?</h4>
                      <h3 class="section-subheading text-muted">In the industrial engineering media design major, the students have the possibility, especially from the 4th semester on, to acquire the basics of design and to put their knowledge into practice in projects. The major also created a media design professorship which is to be filled with a person from the design field, especially for the 2017 summer semester.</h3>
                  </li>
                  <li>
                      <h4 class="section-heading">What was the primary target of these changes?</h4>
                      <h3 class="section-subheading text-muted">With the new focus on the new three majors, the industrial engineering profile is sharpened for the new print and media world.</h3>
                      <h3 class="section-subheading text-muted">Especially the media design industrial engineering major is aimed at young people with business and technical backgrounds and an affinity for creativity and media design.</h3>
                  </li>
                  <li>
                      <h4 class="section-heading">Which professional opportunities does this degree offer?</h4>
                      <h3 class="section-subheading text-muted">The professional use of a media design industrial engineer is in technology and creative work at printing and media houses, in job offer or advertising agencies or at production departments of publishing houses. Here, our graduates become professionals who can judge creative works for technical implementation and economic feasibility.</h3>
                  </li>
                  <li>
                      <h4 class="section-heading">Are there more considerations that could further develop the major?</h4>
                      <h3 class="section-subheading text-muted">With the new alignment, Print-Media-Management made a big and, in our view, important step towards the future. We will watch and analyze development to be able to make other adjustments. An important element is putting things into practice. For that, we will meet again with the ladies and gentlemen of our industry on 28 June 2016 to incorporate their assessments and experience into our considerations.</h3>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
