{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container lg-de">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body lg-de">
                        <h2>{{ .name  | markdownify }} {{ .surname  | markdownify }}</h2>
                        <p class="item-intro text-muted">{{ .category | markdownify }}</p>
                        <img class="img-responsive img-centered" src="img/students/{{ .img }}" alt=""/>
                        <p>{{ .content  | markdownify }}</p>
                        <h3>Lebenslauf</h3>
                        <p>{{ .cv  | markdownify }}</p>
                        <h3>Kentnisse und Fähigkeiten</h3>
                        <p>{{ .skills  | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container lg-en">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body lg-en">
                      <h2>{{ .name  | markdownify }} {{ .surname  | markdownify }}</h2>
                      {{ if .contentEN }}
                      <p class="item-intro text-muted">{{ .categoryEN | markdownify }}</p>
                      {{ end }}
                      <img class="img-responsive img-centered" src="img/students/{{ .img }}" alt=""/>
                      {{ if .contentEN }}
                      <p>{{ .contentEN  | markdownify }}</p>
                      {{ end }}
                      <h3>Curriculum vitae</h3>
                      {{ if .cvEN }}
                      <p>{{ .cvEN  | markdownify }}</p>
                      {{ end }}
                      <h3>Skills</h3>
                      {{ if .skillsEN }}
                      <p>{{ .skillsEN  | markdownify }}</p>
                      {{ end }}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
