{{ "<!-- Portfolio Modals -->" | safeHTML }} {{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="modal_Impressum" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Impressium</h2>
                        <p><b>Herausgeber | Publisher</b><br>Hochschule der Medien<br>Nobelstraße 10 | 70569 Stuttgart</p>
                        <p><b>Ansprechpartner | Contact</b><br>Prof. Dr.-Ing. Detlef Hartmann, Prof. Dr. Oliver Wiesener</p>
                        <p><b>Studiengang | Study course</b><br>Print-Media-Management<br>www.thecrossbox.de<br>www.facebook.com/PMMinsight-the crossbox.</p>
                        <p><b>Projektleitung | Project management</b><br>David Rühle</p>
                        <p><b>Eventmanagement | Event management</b><br>Ronja Gamer (Teamleiterin), Selen Akarsu, Bartu Colak, Ferhan Ercan, Julia Fischer, Isabelle Möhrer, Görkem Sancar, Sonja Schaupp, Anna Wolf</p>
                        <p><b>Finanzen | Finances</b><br>Selen Akarsu (Teamleiterin)</p>
                        <p><b>Gestaltung | Design</b><br>Vasiliki Chatzigeorgiou (Teamleiterin), Vanessa Bachmann</p>
                        <p><b>Redaktion | Editorial office</b><br>Sonja Schaupp (Teamleiterin), Ana Brnic, Ronja Gamer, Sara Hegel, Isabelle Möhrer, Corinna Roth, Anna Wolf</p>
                        <p><b>Produktion – Print | Printproduction</b><br>Julian Rießelmann (Teamleiter), Ana Brnic, Raphael Funkert, Fjolla Kadriu, Lennart Schreiner</p>
                        <p><b>Produktion – Online | Onlineproduction</b><br>Fjolla Kadriu (Teamleiterin), Vasiliki Chatzigeorgiou</p>
                        <p><b>Vertrieb | Distributions</b><br>Corinna Roth (Teamleiterin), Selen Akarsu, Bartu Colak, Julia Fischer, Sara Hegel, Thomas Lämmel, Roman Pfeifer, David Rühle, Anna Wolf</p>
                        <p><b>Druck | Print</b><br>Druckerei Rießelmann GmbH<br>Industriering 4 | 49393 Lohne</p>
                        <p><b>Verpackung | Packaging</b><br>FIND Druck und Design ZNL der EB OHG<br>Felix-Wankel-Straße 2 | 71397 Leutenbach-Nellmersbach</p>
                        <p><b>Papier | Paper</b><br>Papierfabrik Scheufelen GmbH + Co. KG<br>Adolf-Scheufelen-Straße 26 | 73252 Lenningen<br><br>Papyrus<br>Julius-Bamberger-Straße 4 | 28279 Bremen</p>
                        <p><b>3D-Druck | 3D-Printing</b><br>Luminerd<br>Wegländerstraße 26 | 70563 Stuttgart</p>
                        <p><b>Webseite | Website</b><br>Dimitri Hoffmann, Alexander Stricker</p>
                        <p><b>Fotografie | Photography</b><br>Dominik Suhm<br>info@dominiksuhm.de</p>
                        <p><b>Auflage | Circulation</b><br>Versand | Dispatch: 800<br>MediaNight: 700<br>Gesamt | Total: 1500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
