{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="modalAllSponsors" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Weitere Sponsoren</h2>
                        <div class="sponsors_svg">
                          <img class="img-responsive img-centered" src="img/sponsors/alex_dima.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Aumueller.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Bluepool.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/BWPost.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Chatzis.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Dominik Suhm.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/find.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Frechverlag.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Freunde und Förderer.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Graphic Consult.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Guk.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Hofmann.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Horn.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Hurtz.png" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Jgs.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Laudert.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Lidela.png" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Lingua-World.png" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Mack.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Manroland.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/MBO.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Mohn Media.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/MüllerMartini.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Pack-Art.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Printplus.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Riesselmann.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Scheufelen-lang.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Schleunungdruck.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/starco.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Techkon.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/westland.svg" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Wirtz.png" alt="">
                          <img class="img-responsive img-centered" src="img/sponsors/Wolf.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
