{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="modalAllSponsors" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Weitere Sponsoren</h2>
                        <div class="sponsors_svg">
                          <!-- No Link -->
                          <img class="img-responsive img-centered" src="img/sponsors/alex_dima.svg" alt="">
                          <a href="http://www.aumueller-druck.de/"><img class="img-responsive img-centered" src="img/sponsors/Aumueller.svg" alt=""></a>
                          <a href="http://www.bluepool.de/"><img class="img-responsive img-centered" src="img/sponsors/Bluepool.svg" alt=""></a>
                          <a href="https://www.bwpost.net/"><img class="img-responsive img-centered" src="img/sponsors/BWPost.svg" alt=""></a>
                          <!-- No Link -->
                          <img class="img-responsive img-centered" src="img/sponsors/Chatzis.svg" alt="">
                          <a href="http://dominiksuhm.de/"><img class="img-responsive img-centered" src="img/sponsors/Dominik Suhm.svg" alt=""></a>
                          <!-- No Link -->
                          <img class="img-responsive img-centered" src="img/sponsors/find.svg" alt="">
                          <a href="https://www.topp-kreativ.de/"><img class="img-responsive img-centered" src="img/sponsors/Frechverlag.svg" alt=""></a>
                          <a href="https://www.hdm-stuttgart.de/vff/verein"><img class="img-responsive img-centered" src="img/sponsors/Freunde und Förderer.svg" alt=""></a>
                          <a href="http://www.gc-online.de/"><img class="img-responsive img-centered" src="img/sponsors/Graphic Consult.svg" alt=""></a>
                          <a href="http://www.guk-falzmaschinen.com/"><img class="img-responsive img-centered" src="img/sponsors/Guk.svg" alt=""></a>
                          <a href="http://www.hofmann-druck.de/slideshow/1/de/home.html"><img class="img-responsive img-centered" src="img/sponsors/Hofmann.svg" alt=""></a>
                          <!-- No Link -->
                          <img class="img-responsive img-centered" src="img/sponsors/Horn.svg" alt="">
                          <a href="http://www.hurtz.de/de/"><img class="img-responsive img-centered" src="img/sponsors/Hurtz.png" alt=""></a>
                          <a href="https://www.jgs-stuttgart.de/"><img class="img-responsive img-centered" src="img/sponsors/Jgs.svg" alt=""></a>
                          <a href="http://www.laudert.de/"><img class="img-responsive img-centered" src="img/sponsors/Laudert.svg" alt=""></a>
                          <!-- Ohne PW kein Zugang -->
                          <a href="www.lidela.de"><img class="img-responsive img-centered" src="img/sponsors/Lidela.png" alt=""></a>
                          <a href="https://www.lingua-world.de/"><img class="img-responsive img-centered" src="img/sponsors/Lingua-World.png" alt=""></a>
                          <a href="http://www.druckerei-mack.de/"><img class="img-responsive img-centered" src="img/sponsors/Mack.svg" alt=""></a>
                          <a href="https://www.manroland-web.com/de/"><img class="img-responsive img-centered" src="img/sponsors/Manroland.svg" alt=""></a>
                          <a href="http://www.mbo-folder.com/"><img class="img-responsive img-centered" src="img/sponsors/MBO.svg" alt=""></a>
                          <a href="http://www.mohnmedia.de/de.html"><img class="img-responsive img-centered" src="img/sponsors/Mohn Media.svg" alt=""></a>
                          <a href="http://www.mullermartini.com/de-DE/Home"><img class="img-responsive img-centered" src="img/sponsors/MüllerMartini.svg" alt=""></a>
                          <a href="http://www.pack-art.com/"><img class="img-responsive img-centered" src="img/sponsors/Pack-Art.svg" alt=""></a>
                          <a href="http://printplus.ch/html/index.asp?level1=index&level2=&level3="><img class="img-responsive img-centered" src="img/sponsors/Printplus.svg" alt=""></a>
                          <a href="http://www.riesselmann-druck.de/"><img class="img-responsive img-centered" src="img/sponsors/Riesselmann.svg" alt=""></a>
                          <a href="http://www.scheufelen.com/"><img class="img-responsive img-centered" src="img/sponsors/Scheufelen-lang.svg" alt=""></a>
                          <a href="http://www.schleunungdruck.de/"><img class="img-responsive img-centered" src="img/sponsors/Schleunungdruck.svg" alt=""></a>
                          <a href="https://www.star-cooperation.com/"><img class="img-responsive img-centered" src="img/sponsors/starco.svg" alt=""></a>
                          <a href="http://www.techkon.com/"><img class="img-responsive img-centered" src="img/sponsors/Techkon.svg" alt=""></a>
                          <a href="http://www.westland.eu/de/"><img class="img-responsive img-centered" src="img/sponsors/westland.svg" alt=""></a>
                          <!-- No Link -->
                          <a href=""><img class="img-responsive img-centered" src="img/sponsors/Wirtz.png" alt="">
                          <a href="http://autowolf.com/"><img class="img-responsive img-centered" src="img/sponsors/Wolf.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
