{{ "<!-- Portfolio Modals -->" | safeHTML }} {{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="modalAllSponsors" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Weitere Sponsoren</h2>
                        <div class="sponsors_svg">

                            <a href="http://www.aumueller-druck.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Aumueller.svg" alt=""></a>
                            <a href="http://www.bluepool.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Bluepool.svg" alt=""></a>
                            <a href="https://www.bwpost.net/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/BWPost.svg" alt=""></a>
                            <a href="http://dominiksuhm.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Dominik Suhm.svg" alt=""></a>
                            <a href="https://www.topp-kreativ.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Frechverlag.svg" alt=""></a>
                            <a href="https://www.hdm-stuttgart.de/vff/verein" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Freunde und Förderer.svg" alt=""></a>
                            <a href="http://www.gc-online.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Graphic Consult.svg" alt=""></a>
                            <a href="http://www.guk-falzmaschinen.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Guk.svg" alt=""></a>
                            <a href="http://www.hofmann-druck.de/slideshow/1/de/home.html" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Hofmann.svg" alt=""></a>
                            <a href="http://www.hofmann-druck.de/slideshow/1/de/home.html" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Horn.svg" alt=""></a>
                            <a href="http://www.hurtz.de/de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Hurtz.png" alt=""></a>
                            <a href="https://www.jgs-stuttgart.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Jgs.svg" alt=""></a>
                            <a href="http://www.laudert.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Laudert.svg" alt=""></a>
                            <!-- Ohne PW kein Zugang -->
                            <a href="www.lidela.de" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Lidela.png" alt=""></a>
                            <a href="https://www.lingua-world.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Lingua-World.png" alt=""></a>
                            <a href="http://www.druckerei-mack.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Mack.svg" alt=""></a>
                            <a href="https://www.manroland-web.com/de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Manroland.svg" alt=""></a>
                            <a href="http://www.mbo-folder.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/MBO.svg" alt=""></a>
                            <a href="http://www.mohnmedia.de/de.html" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Mohn Media.svg" alt=""></a>
                            <a href="http://www.mullermartini.com/de-DE/Home" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/MüllerMartini.svg" alt=""></a>
                            <a href="http://www.pack-art.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Pack-Art.svg" alt=""></a>
                            <a href="http://printplus.ch/html/index.asp?level1=index&level2=&level3=" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Printplus.svg" alt=""></a>
                            <a href="http://www.riesselmann-druck.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Riesselmann.svg" alt=""></a>
                            <a href="http://www.scheufelen.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Scheufelen-lang.svg" alt=""></a>
                            <a href="http://www.schleunungdruck.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Schleunungdruck.svg" alt=""></a>
                            <a href="http://www.techkon.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Techkon.svg" alt=""></a>
                            <a href="http://www.westland.eu/de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/westland.svg" alt=""></a>
                            <a href="http://www.wirtz-druck.de/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Wirtz.png" alt=""></a>
                            <a href="http://autowolf.com/" target="_blank"><img class="img-responsive img-centered" src="img/sponsors/Wolf.svg" alt=""></a>
                            <!-- No Link -->
                            <img class="img-responsive img-centered" src="img/sponsors/Chatzis.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}