{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <div class="open">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
                <div class="closing">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .Site.Menus.prepend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.services.enable }}
                <li>
                    <a class="page-scroll" href="#preword">{{ with .Site.Params.navigation.preword }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.portfolio.enable }}
                <li>
                    <a class="page-scroll" href="#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.theme.enable }}
                {{ range .Site.Params.theme.row }}
                {{ range .list }}
                <li>
                    <a class="page-scroll" href="#{{ .id }}">{{ .title | markdownify }}</a>
                </li>
                {{ end }}
                {{ end }}
                {{ end }}
                <li class="languages"><button id="language-de" title="Click to change language" onclick="ChangeLanguage('de'); return false; ">DEUTSCH</button> | <button id="language-en" title="Click to change language" onclick="ChangeLanguage('en');return false;">ENGLISCH</button></li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
