{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button id="open_close_nav_bt"type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" onclick="ToggleScrollable()">
                <div class="open">
                  <span class="sr-only">Toggle navigation</span>
                    <div class="micon"></div>
                </div>
                <div class="closing">
                  <span class="sr-only">Toggle navigation</span>
                  <div class="cicon"></div>
                </div>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right lg-de">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .Site.Menus.prepend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.services.enable }}
                <li>
                    <a class="page-scroll" href="#preword">{{ with .Site.Params.navigation.preword }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.portfolio.enable }}
                <li>
                    <a class="page-scroll" href="#portfolio">Galerie</a>
                </li>
                {{ end }}

                <li>
                    <a class="page-scroll" href="#printmedia">PMM - Im Laufe der Zeit</a>
                </li>
                <li>
                    <a class="page-scroll" href="#crossmedia">Crossmedia</a>
                </li>
                <li>
                    <a class="page-scroll" href="#3ddruck">3D Druck</a>
                </li>
                <li>
                    <a class="page-scroll" href="#studienanfaenger">Vom Studienanfänger zum Absolventen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#fieldreport">Erfahrungsberichte</a>
                </li>

                <li class="languages"><button id="language-de" title="Click to change language" onclick="ChangeLanguage('de'); return false; "><b>DEUTSCH</b></button> | <button id="language-en" title="Click to change language" onclick="ChangeLanguage('en');return false;">ENGLISCH</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right lg-en">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .Site.Menus.prepend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ if .Site.Params.services.enable }}
                <li>
                    <a class="page-scroll" href="#preword">Preword</a>
                </li>
                {{ end }}

                {{ if .Site.Params.portfolio.enable }}
                <li>
                    <a class="page-scroll" href="#portfolio">Gallery</a>
                </li>
                {{ end }}

                <li>
                    <a class="page-scroll" href="#printmedia">PMM - over Time</a>
                </li>
                <li>
                    <a class="page-scroll" href="#crossmedia">Crossmedia</a>
                </li>
                <li>
                    <a class="page-scroll" href="#3ddruck">3D Printing</a>
                </li>
                <li>
                    <a class="page-scroll" href="#studienanfaenger">From Freshmen to Graduate</a>
                </li>
                <li>
                    <a class="page-scroll" href="#fieldreport">Opinions</a>
                </li>

                <li class="languages"><button id="language-de" title="Click to change language" onclick="ChangeLanguage('de'); return false; ">DEUTSCH</button> | <button id="language-en" title="Click to change language" onclick="ChangeLanguage('en');return false;"><b>ENGLISCH</b></button></li>
            </ul>
        </div>
        

        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
