{{ "<!-- Services -->" | safeHTML }}
<section id="preword" class="lg-de">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Herzlich Wilkommen</h2>
                <p>Auf den folgenden Seiten finden Sie spannende Artikel und Interviews mit unseren Professoren zur Veränderung des Studiengangs Print-Media-Management und den Themen Crossmedia und 3D- Druck.
Das Team der „PMMinsight – the crossbox.“ stellt sich mit seinen Interessen und den jeweiligen Lebensläufen vor.
Die Studierenden berichten von Exkursionen, die Studienanfänger und die Studienabsolventen von ihren Erfahrungen an der Hochschule der Medien.
Außerdem haben wir Statistiken zur Mediennutzung durchgeführt, die durch Sie interaktiv erweitert werden können, und unseren Projektverlauf in Zahlen festgehalten.</p>
              <h3 class="section-subheading text-muted">Viel Spaß beim Entdecken!</h3>
            </div>
        </div>
    </div>
</section>
