{{ "<!-- Services -->" | safeHTML }}
<section id="printmedia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Print-Media-Management</h2>
                <h3 class="section-subheading text-mute">im Laufe der Zeit</h3>
                <p>Unser Studiengang Print-Media-Management bildet zum Wirtschaftsingenieur oder zur Wirtschaftsingenieurin aus. Er beinhaltet managementbezogene sowie betriebswirtschaftliche Inhalte mit gestalterischen und technischen Aspekten.</p>
                <p>Nun stellt er einen neuen, gestalterischen Schwerpunkt vor. Neben den Schwerpunkten Packaging und Crossmedia & Print, können sich Studierende im Hauptstudium nun auch für Media Design entscheiden.</p>
                <p>Veränderungen tragen Chancen und Möglichkeiten mit sich. Sie sind Elemente der Weiterentwicklung und gehören zum Erfolg dazu.</p>
                <p>Im Schwerpunkt Media Design haben die Studierenden die Möglichkeit in umfassendenModulen sich Grundlagen des Designs in Kombination von betriebswirtschaftlichen und technologischen Inhalten anzueignen. In erster Linie werden junge Menschen angesprochen, die neben einem technisch und wirtschaftlich geprägten Verständnis eine hohe Affinität zur Kreativität und zum Design im Medienbereich haben.</p>
                <p>Um den neuen Schwerpunkt bestmöglich zu erklären, haben wir diesbezüglich Prof. Dr.-Ing. Witting themenbezogene Fragen gestellt, die er für uns beantwortet hat. Hier
erfahren Sie alles über die Vielfältigkeit sowie die Kreativität der Neuausrichtung, außerdem welche Karrierechancen man damit hat und was uns in der Zukunft erwartet.</p>
            </div>
        </div>
    </div>
    <div class="time_clocks_sand">
    </div>
</section>
