{{ "<!-- Services -->" | safeHTML }}
<section id="printmedia">
    <div class="container lg-de">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Print-Media-Management</h2>
                <h3 class="section-subheading text-mute">im Laufe der Zeit</h3>
                <p>Unser Studiengang Print-Media-Management bildet zum Wirtschaftsingenieur oder zur Wirtschaftsingenieurin aus. Er beinhaltet managementbezogene sowie betriebswirtschaftliche Inhalte mit gestalterischen und technischen Aspekten.</p>
                <p>Nun stellt er einen neuen, gestalterischen Schwerpunkt vor. Neben den Schwerpunkten Packaging und Crossmedia & Print, können sich Studierende im Hauptstudium nun auch für Media Design entscheiden.</p>
                <p>Veränderungen tragen Chancen und Möglichkeiten mit sich. Sie sind Elemente der Weiterentwicklung und gehören zum Erfolg dazu.</p>
                <p>Im Schwerpunkt Media Design haben die Studierenden die Möglichkeit in umfassendenModulen sich Grundlagen des Designs in Kombination von betriebswirtschaftlichen und technologischen Inhalten anzueignen. In erster Linie werden junge Menschen angesprochen, die neben einem technisch und wirtschaftlich geprägten Verständnis eine hohe Affinität zur Kreativität und zum Design im Medienbereich haben.</p>
                <p>Um den neuen Schwerpunkt bestmöglich zu erklären, haben wir diesbezüglich Prof. Dr.-Ing. Witting themenbezogene Fragen gestellt, die er für uns beantwortet hat. Hier erfahren Sie alles über die Vielfältigkeit sowie die Kreativität der Neuausrichtung, außerdem welche Karrierechancen man damit hat und was uns in der Zukunft erwartet.</p>
            </div>
        </div>
    </div>
    <div class="container lg-en">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Print-Media-Management</h2>
                <h3 class="section-subheading text-mute">Bachelor Degree over Time</h3>
                <p>Our Print-Media-Management course offers a degree in industrial engineer. It includes management and business topics with creative and technical aspects.</p>
                <p>Now, a new subject will be introduced. In addition to the existing programs, packaging and crossmedia & print, students can now also major in media design.</p>
                <p>Change brings chances and opportunities. They are elements of development and part of success.</p>
                <p>Media design majors will acquire the basics of design combined with business and technology. This is primarily aimed at young people with an understanding of business and technology and a high affinity for creativity and design in media.</p>
                <p>We asked Prof. Dr.-Ing. Witting about the new major. Here, you can see all of the diversity and creativity of the new major, what career opportunities media design provides and what the future may bring.</p>
            </div>
        </div>
    </div>
</section>