{{ "<!-- Services -->" | safeHTML }}
<section id="studienanfaenger">
    <div class="container lg-de">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Vom Studienanfänger zum Absolventen</h2>
                <p>In den folgenden Interviews erfahren Sie, welche der neuen Schwerpunkte die PMM- Studienanfänger wählen möchten und welchen beruflichen Weg die PMM-Absolventen eingeschlagen haben. Wir haben diese beiden Zielgruppen außerdem zu unseren Themen Crossmedia und 3D-Druck befragt.</p>
                <h3>Absolventen-Stimmen</h3>
                <div class="slider">
                  <ul>
                    <li>
                      <h4 class="section-heading">Maximilian Eisenmann, Absolvent 2015</h4>
                        <p>Am meisten haben mich die betriebswirtschaftlichen Fächer interessiert. Projektarbeiten, wie die PMM Insight fande ich sehr spannend und abwechslungsreich, da man das bereits erlernte Wissen in die Tat umsetzen konnte.</p>
                        <p>Mir gefällt, dass der Studiengang nun eine extreme Breite bekommen hat. Die unterschiedlichen Interessen der Studierenden werden komplett erfüllt. Wenn ich nochmal wählen könnte, würde ich mich für den Bereich Packaging entscheiden, da ich den Verpackungsmarkt am spannendsten und am zukunftsfähigsten sehe.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Frederik Glaser, Absolvent 2015</h4>
                      <p>Nach meinem Studium an der HdM habe ich als Projektmanager bei der asim GmbH angefangen. Hier bin ich in der Einführung und Medienproduktion von Software Projekten in der PIM (Product Information Management) eingebunden.</p>
                      <p>Im PMM-Studium habe ich gelernt komplexe Sachverhalte strukturiert zu analysieren und mich zu organisieren. Außerdem habe ich mir ein berufliches und soziales Netzwerk aufgebaut.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Jonas Wenzel, Absolvent 2015</h2>
                      <p>Ich arbeite als Projektleiter bei der Firma theurer.com und bin unter anderem für die Einführung der ERP/MIS Software C3 verantwortlich. Dafür bin ich oft auch europaweit in Druckereien unterwegs. Würde ich PMM nochmal studieren, würde ich mich ganz klar auf den Bereich Packaging spezialisieren, da dieser unglaublich vielfältig, spannend und technisch anspruchsvoll ist.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Robin Ehrhardt, Absolvent 2016</h4>
                      <p>Die unglaubliche Abwechslung, die das Studium bietet, ist toll. Jeder Student hat die Möglichkeit, neben dem "Pflichprogramm", eigene Interessen zu vertiefen und sich dahingehend zu entwickeln.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Andreas Danner, Absolvent 2014</h4>
                      <p>Aus meinem Studium mitgenommen habe ich die Fähigkeit zu selbstständigem Arbeiten. Außerdem habe ich gelernt Eigenverantwortung, Engagement und Leidenschaft für die eigene Tätigkeit zu entwickeln.</p>
                      <p>Besonders haben mich Vorlesungen wie Arbeitsrecht und Management interessiert, weil diese im späteren Berufsleben relevant sind. Außerdem habe ich während meinem Studium Veranstaltungen mit Software-Schwerpunkt belegt, um auch in diesen Feldern erste Erfahrungen sammeln zu können.</p>
                      <p>Die neuen Bereiche des Studiengangs finde ich allesamt spannend. Könnte ich wählen, würde meine Wahl wohl auf Crossmedia fallen, aber auch der Bereich Packaging ist natürlich ein spannendes und sehr zukunftsfähiges Feld.</p>
                    </li>
                  </ul>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>PMM-Anfänger berichten</h3>
                <div class="slider">
                  <ul>
                    <li>
                      <h4 class="section-heading">Dina Mohammed</h4>
                      <p>Ich werde die Vertiefungsrichtung Mediadesgin wählen, da ich mich sehr für Gestaltung interessiere.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Stephanie</h4>
                      <p>Ich überlege Crossmedia oder MediaDesign zu wählen. Beide Bereiche sind zukunftsfähig und in mehreren Bereichen im Arbeitsleben einsetzbar.</p>
                    </li>
                    <li>
                      <h4 class="section-heading">Patrick Kozdon</h4>
                      <p>Der Schwerpunkt Mediadesign klingt für mich am interessantesten. Hier werde ich während meinem Studium am meisten Spaß am Thema haben und für meine berufliche Zukunft am meisten profitieren.</p>
                      <p>Das Thema 3D-Druck ist Bestandteil des Schwerpunktes Mediadesign, was mich besonders anspricht. Bisher habe ich viel über das Thema recherchiert. Unter Crossmedial verstehe ich, dass ein Produkt/ein Thema von vielen verschiedenen Arten von Medien umfasst wird.</p>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container lg-en">
        <div class="row">
            <div class="text-center">
              <p>Dummy Studeinanfänger ENG</p>
            </div>
        </div>
    </div>
</section>
