{{ "<!-- Services -->" | safeHTML }}
<section id="studienanfaenger">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Vom Studienanfänger zum Absolventen</h3>
                <p>In den folgenden Interviews erfahren Sie, welche der neuen Schwerpunkte die PMM- Studienanfänger wählen möchten und welchen beruflichen Weg die PMM-Absolventen eingeschlagen haben. Wir haben diese beiden Zielgruppen außerdem zu unseren Themen Crossmedia und 3D-Druck befragt.</p>
                <h4>Absolventen-Stimmen</h4>
            </div>
        </div>
    </div>
</section>
