<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "logo.html" . }}

        {{ partial "preword.html" . }}

        {{ if .Site.Params.portfolio.enable }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ partial "theme.html" . }}

        {{ if .Site.Params.clients_list.enable }}
            {{ partial "clients.html" . }}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.portfolio.enable }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "footer-bar.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
