<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "logo.html" . }}

        {{ partial "preword-de.html" . }}
        {{ partial "preword-en.html" . }}

        {{ partial "parallax_box_key.html" . }}

        {{ if .Site.Params.portfolio.enable }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ partial "parallax_group.html" . }}

        {{ partial "printmedia.html" . }}

        {{ partial "interview.html" . }}

        {{ partial "parallax_light_picture.html" . }}

        {{ partial "crossmedia.html" . }}

        {{ partial "interview_2.html" . }}

        {{ partial "parallax_hands.html" . }}

        {{ partial "3ddruck.html" . }}

        {{ partial "interview_3-de.html" . }}
        {{ partial "interview_3-en.html" . }}

        {{ partial "parallax_key.html" . }}

        {{ partial "studienanfaenger.html" . }}

        {{ partial "parallax_study_heads.html" . }}

        {{ partial "fieldreport.html" . }}

        <div id="collision"></div>

        {{ if .Site.Params.clients_list.enable }}
            {{ partial "clients.html" . }}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.portfolio.enable }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "modal_Premium1.html" . }}
        {{ partial "modal_Premium2.html" . }}

        {{ partial "footer-bar.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
