* {
    margin: 0;
    padding: 0;
}

html {
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;}
  #hero .layer {
    width: 100%;
    height: 110%;
    background-position: center center;
  }

#layer_one {
  background-image: url(../images/amazing001.jpg);
}

#layer_two {
  margin-top: -110vh;
  background-image: url(../images/amazing002.png);
  /* background-size: 110%, 110%; */
}
